#canvas-container {
    position: relative;
    overflow: hidden;
    background-image: radial-gradient(#ddd 1px, transparent 1px);
    background-size: 20px 20px; /* Grid effect */
}

#architectureCanvas {
    width: 100%;
    height: 100vh;
}

.draggable-item {
    cursor: grab;
}

.node {
    position: absolute;
    padding: 10px 20px;
    border-radius: 8px;
    background: white;
    border: 2px solid #333;
    cursor: move;
    z-index: 10;
}